GameRoundCountdown {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 0.2s ease-in;
  display: flex;
  
  &.Hidden {
    //display: none;
  }
  
  &.ScalingUp {
    transform: scale(1);
  }
  
  &.ScalingDown {
    transform: scale(0);
  }

  .Count {
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    color: white;
    font-size: 100px;
  }
}